button{
    box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.2);
    color: black;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 800;
}
.button__link{
    color: #F2F2F2;
    text-decoration: none;
}
.button__back{
    background: linear-gradient(to right, #F2E749, #EFDF00);
}
.button__next, .button__save{
    background: linear-gradient(to left, #58FC4C, #0FE300);
}
.button__exit{
    background: linear-gradient(to right, #E86345, #E32A00);
}
.button__form{
    background-color: #000;
}
.button__point{
    border: 2px solid black;
    background-color: #f2f2f2;
}
.button__ramdom{
    padding: 10px 20px;
    background: linear-gradient(to right, #EEA14A, #EB8003);
}