.navbar__menu{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}
.navbar__menu--item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.checked{
    position: absolute;
    right: 10px;
    visibility: hidden;
}
.checked.uncomplete , .checked.complete{
    position: absolute;
    visibility: visible;
}