.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    gap: 20px;
}
.card__exercise{
    width: 500px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 15px 15px 0 rgba(0, 0, 0, 0.2);
}
.card__exercise--code{
    padding: 20px;
    border-radius: 5px;
    background: #c4c4c4;
    margin: 5px 0px;
}
.card__number--exercise{
    font-weight: 800;
    font-size: 30px;
}
.card__exercise--solution{
    padding: 20px;
    border-radius: 5px;
    background: #c4c4c4;
    margin: 5px 0px;
}
.card__exercise--information{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
.card__exercise--header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card__buttons{
    position: relative;
    width: 100%;
    display: flex;
    gap: 20px;
}